@import 'variables';

//css reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: white;
  background: black;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// base styles
#app {
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 100vh;
  padding: 20px;
  padding-top: 40px;
}

.button {
  color: white;
  cursor: pointer;
  border: 1px;
  border-radius: 26px;
  font-size: 14px;
  padding: 20px 36px;
  $teste: #666666;

  &--primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &--secondary {
    background-color: $secondary;
  }
}
